<!DOCTYPE html>
<html>

<head>
    <title>Upload Resumes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="upload-container">

    <h2>Upload Resumes 📄</h2>

    <form method="POST" enctype="multipart/form-data">

        <!-- JOB DESCRIPTION -->
        <textarea name="job" placeholder="Enter Job Description here..." required></textarea>

        <br><br>

        <!-- FILE UPLOAD -->
        <label class="upload-box">
            📤 Choose Resumes
            <input type="file" name="resumes" multiple required>
        </label>

        <br>

        <button type="submit">Analyze Resumes</button>

    </form>

</div>

</body>
</html>